{% extends 'InstacountInstacountBundle::layout.html.twig' %}

{% block body %}
	<div data-role="page">
    	<header class="show" data-position="fixed" data-role="header">
    		<a href=" {{ path('InstacountInstacountBundle_campaign_show', {'id': campaign.id }) }}" data-role="button" data-icon="" class="ui-btn-left" data-iconpos="notext"></a>
            <a href="{{ path('InstacountInstacountBundle_homepage')}}" data-transition="flip" data-ajax="true" class="ui-btn-right" data-role="button" data-icon="arrow-r" data-iconpos="right">Logga ut</a>
        </header>	
        <div class="content" data-theme="b" data-role="content">		
			<h2>Edit {{ campaign.name }} med id {{ campaign.id }}</h2>
			<form action="{{ path('InstacountInstacountBundle_campaign_update', { 'id' : campaign.id }) }}" method="post" {{ form_enctype(form) }}>
	    	{{ form_widget(form) }}
	    	<input type="submit" value="Spara">
        	<a href=" {{ path('InstacountInstacountBundle_campaign_delete', { 'id' : campaign.id }) }} ">
				<button>
					Radera
				</button>
			</a>
			</form>
		</div>		
	   <footer data-role="footer" data-position="fixed">
        
    </footer>
</div>					
{% endblock %}