{% extends 'InstacountInstacountBundle::layout.html.twig' %}

{% block body %}
	<div data-role="page">
    	<header class="show" data-position="fixed" data-role="header">
    		<a href=" {{ path('InstacountInstacountBundle_campaign') }}" data-role="button" data-icon="" class="ui-btn-left" data-iconpos="notext"></a>
           <a data-ajax="true" href="{{ path('logout')}}" data-transition="flip" class="ui-btn-right" data-role="button" data-icon="arrow-r" data-iconpos="right">Logga ut</a>
        </header>	
        <div class="content" data-theme="b" data-role="content">
			<h2>Skapa ny kampanj</h2>
			<form action="{{ path('InstacountInstacountBundle_campaign_create') }}" method="post" {{ form_enctype(form) }}>
	    		{{ form_widget(form) }}
	    		<input type="submit" value="Spara">        
			</form>
		</div>	
	   <footer data-role="footer" data-position="fixed">
       
    </footer>
</div>				
{% endblock %}