{% extends 'InstacountInstacountBundle::layout.html.twig' %}

{% block body %}
    <div data-role="page" data-add-back-btn="true">
	    <header class="admin" data-position="fixed" data-role="header">
        	<a data-ajax="false" data-transition="flip" href="#" data-rel="back" data-role="button" data-icon="" class="ui-btn-left" data-iconpos="">Tillbaka</a>       
        	<a data-ajax="false" href="{{ path('logout')}}" data-transition="flip" class="ui-btn-right logout" data-role="button" data-icon="" data-iconpos="">Logga ut</a>
    	</header>
    	<div class="content" data-role="content">		
			<div class="nav">
		        <a data-role="button" href="{{ path('InstacountInstacountBundle_user')}}">Hantera användare</a>
		        <a data-role="button" href="{{ path('InstacountInstacountBundle_user')}}">Hantera kampanjer</a>
		    </div>	
		    <h2>Edit {{ user.username }} med id {{ user.id }}</h2>
	<form action="{{ path('InstacountInstacountBundle_user_update', { 'id' : user.id }) }}" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	    <input type="submit" value="Spara">
        <a href=" {{ path('InstacountInstacountBundle_user_delete', { 'id' : user.id }) }} ">
			<button>
				Radera
			</button>
		</a>
	</form>
</div>
	<footer data-role="footer" data-position="fixed">    
    </footer>
</div>					
{% endblock %}