{% extends 'InstacountInstacountBundle::layout.html.twig' %}

{% block body %}
<div class="content" data-theme="b" data-role="content">			
	<h2>Edit {{ user.name }} med id {{ user.id }}</h2>
	<form action="{{ path('InstacountInstacountBundle_user_update', { 'id' : user.id }) }}" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	    <input type="submit" value="Spara">
        <a href=" {{ path('InstacountInstacountBundle_user_delete', { 'id' : user.id }) }} ">
			<button>
				Radera
			</button>
		</a>
	</form>
</div>				
{% endblock %}