{% extends 'InstacountInstacountBundle::layout.html.twig' %}

{% block body %}
    <div data-role="page" data-add-back-btn="true">
	    <header data-position="fixed" data-role="header">
	        <h1>Instacount</h1>
	        <a href="{{ path('InstacountInstacountBundle_homepage')}}" data-transition="flip" class="ui-btn-right" data-role="button" data-icon="arrow-r" data-iconpos="right">Logga ut</a>
	    </header>
    	<div class="content" data-theme="b" data-role="content">				
			<h2>{{ user.username }}</h2>
			<div class="admin">Användar-id: {{ user.id }} </div>
			<div class="admin">Namn: {{ user.username }} </div>				
			<a href="{{path('InstacountInstacountBundle_user_edit', { 'id' : user.id }) }}" data-transition="flip" data-theme="red" data-role="button" class="ui-btn-right" >Redigera</a>
			<a href="{{path('InstacountInstacountBundle_user_delete', { 'id' : user.id }) }}" data-transition="flip" data-theme="del" data-role="button" class="ui-btn-right" >Radera</a>
		</div>
{% endblock %}