{% extends 'InstacountInstacountBundle::layout.html.twig' %}

{% block body %}
    <div data-role="page" data-add-back-btn="true">
	    <header class="admin" data-position="fixed" data-role="header">
        	<a data-ajax="false" data-transition="flip" href="#" data-rel="back" data-role="button" data-icon="" class="ui-btn-left" data-iconpos="">Tillbaka</a>       
        	<a data-ajax="false" href="{{ path('logout')}}" data-transition="flip" class="ui-btn-right logout" data-role="button" data-icon="" data-iconpos="">Logga ut</a>
    	</header>
    	<div class="content" data-role="content">				
			<div class="nav">
		        <a data-role="button" href="{{ path('InstacountInstacountBundle_user')}}">Hantera användare</a>
		        <a data-role="button" href="{{ path('InstacountInstacountBundle_user')}}">Hantera kampanjer</a>
		    </div>	
		    <h2>{{ user.username }}</h2>
			<div class="admin">Användar-id: {{ user.id }} </div>
			<div class="admin">Namn: {{ user.username }} </div>				
			<a href="{{path('InstacountInstacountBundle_user_edit', { 'id' : user.id }) }}" data-transition="flip" data-theme="red" data-role="button" class="ui-btn-right" >Redigera</a>
			<a href="{{path('InstacountInstacountBundle_user_delete', { 'id' : user.id }) }}" data-transition="flip" data-theme="del" data-role="button" class="ui-btn-right" >Radera</a>
		</div>
	<footer data-role="footer" data-position="fixed">
        
    </footer>
</div>	
{% endblock %}