
{% extends 'InstacountInstacountBundle::layout.html.twig' %}

{% block body %}
<div data-role="page">    
    <header data-position="fixed" data-role="header">
        <a id="admin-button" data-ajax="true" href="{{ path('InstacountInstacountBundle_admin')}}" class="ui-btn-right" data-role="button" data-icon="arrow-r" data-iconpos="right" data-transition="flip">Admin</a>
    </header>
    <div class="content" data-role="content">
        <div class="logo">
           
            <script>var tags = [];</script>
            {% for campaign in campaigns %}
            <script>tags.push( "{{ campaign.tag }}")</script>
            {% endfor %}
            <script>var save_url = "{{ path('InstacountInstacountBundle_counter_create')}}"</script>
            
            <form class="start" data-ajax="false" data-transition="flip" action="{{ path('InstacountInstacountBundle_campaign_count') }}" method="post" {{ form_enctype(form) }} >
                {% form_theme form _self %}
                {{ form_errors(form) }}         
               
                {{ form_row(form.campaign, {'attr':{'data-icon':''}}) }}
                {{ form_rest(form) }} 
                <input class="search" type="text" placeholder="Skriv valfri tag" />
                <input class="submit" type="submit" value="Testa!" />
            </form>     

        </div>
    </div>
    <footer data-role="footer" data-position="fixed">        
    </footer>  
</div>    
<div id="search-result" data-role="page">
    <header data-position="fixed" data-role="header">
        <a data-ajax="false" data-transition="flip" href=" {{ path('InstacountInstacountBundle_homepage') }}" data-role="button" data-icon="arrow-l" class="ui-btn-left" data-iconpos="notext"></a>
    </header>
    <div class="content" data-role="content">         
        <h2 class="tag"></h2>
        <div class="instagram"> 
            <p>Taggar på Instagram:</p>     
            <p><span class="count"></span></p>
        </div>                           
    </div>        
    <footer data-role="footer" data-position="fixed">       
    </footer>
</div>

{% endblock %}

