
{% extends 'InstacountInstacountBundle::layout.html.twig' %}

{% block body %}
<div data-role="page">    
    <header data-position="fixed" data-role="header">
        <a id="admin-button" data-rel="external" data-ajax="true" href="{{ path('InstacountInstacountBundle_admin')}}" class="ui-btn-right" data-role="button" data-icon="arrow-r" data-iconpos="right" data-transition="flip">Admin</a>
    </header>
    <div class="content" data-role="content">
        <div class="logo">           
            <script>var tags = [];</script>
            {% for campaign in campaigns %}
            <script>tags.push( "{{ campaign.tag }}")</script>
            {% endfor %}
            <script>var save_url = "{{ path('InstacountInstacountBundle_counter_create')}}"</script>      
            <div id="append">[</div>
            <form data-ajax="false" data-transition="flip" action="{{ path('InstacountInstacountBundle_counter_create') }}" method="post" {{ form_enctype(form) }} >
                {% form_theme form _self %}
                {{ form_errors(form) }}                 
                {{ form_rest(form) }} 
                <input type="submit" class="save" value="spara" />
            </form>
            <form class="start" data-ajax="false" data-transition="flip" action="{{ path('InstacountInstacountBundle_counter_last') }}" method="post" {{ form_enctype(form_select) }} >               
                {% form_theme form _self %}
                {{ form_errors(form_select) }}                 
                {{ form_row(form_select.campaign, {'attr':{'data-icon':''}}) }}
                {{ form_rest(form_select) }} 
                <input class="search" type="text" placeholder="Skriv valfri tag" />
                <input class="submit" type="submit" value="Testa!" />
            </form>     
        </div>
    </div>
    <footer data-role="footer" data-position="fixed">        
    </footer>  
</div>    
<div id="search-result" data-role="page">
    <header class="show" data-position="fixed" data-role="header">
            <a href="#" data-transition="flip" data-rel="back" data-icon="">Välj</a>         
        </header>
    <div class="content" data-role="content">         
        <h2 class="tag"></h2>
        <div class="count">      
            <p></p>
        </div>                           
    </div>        
    <footer data-role="footer" data-position="fixed">       
    </footer>
</div>

{% endblock %}

