{% extends 'InstacountInstacountBundle::layout2.html.twig' %}
{% block body %}
    <div>
        
    <div>			
		<h2>Översikt</h2>
        <p>
        {{ limit }} </p>
        
		<div class="row-fluid box-container">

            {% for count in counts %}
            <a href="{{ path('InstacountInstacountBundle_campaign_chart', {'campaign_id': count.campaign.id }) }}">
                <div class="span2 campaign-box">
                    <div class="span12 inner">
                        <p>#{{ count.campaign.tag }}:</p>
                        <p class="count">{{ count.count }}</p>
                        <p>{{ count.timestamp|date('Y-m-d')}}</p>
                        <p>{{ count.id }}</p>
                    </div>
                </div>   
            </a>
            {% endfor %}
            
        </div>            
    </div>	
		
{% endblock %}