{% extends 'InstacountInstacountBundle::layout.html.twig' %}
{% block body %}
<script>
    var url_chart = "{{ path('InstacountInstacountBundle_campaign_json', {'campaign_id':counter.campaign.id } )}}";
    var url_map = "{{ path('InstacountInstacountBundle_campaign_json_map', {'campaign_id':counter.campaign.id } )}}";
</script>
    <div data-role="page" data-add-back-btn="true">            
        <header class="show" data-position="fixed" data-role="header">
            <a href="{{ path('InstacountInstacountBundle_homepage')}}" data-transition="flip" data-rel="back" data-icon="">Välj</a>         
        </header>
       
        <div class="toggle portrait content">    
            <h2 class="tag">#{{ counter.campaign.tag }} </h2>
            <div class="count insta"> 
                <p>{{ counter.count }}</p>
                
<script>var figures = "{{ counter.count|length }}";</script>
            </div>  
            <div class="count like"> 
                <p>{{ counter.FbLike }}</p>
            </div>  
        
         <div class="count here"> 
                <p>{{ counter.FbWereHere }}</p>
            </div>  
            <div class="count talking"> 
                <p>{{ counter.FbTalking }}</p>
            </div>  




            <div id="flip"></div>
        </div>   
        <div class="toggle landscape content">       
            <h2 class="tag chart">#{{ counter.campaign.tag }}</h2>
            <div style="position: absolute; top: 125px; left: auto;  
    margin: auto;" id="chart_div" class="div_toggle"></div>  
            <h2 class="tag map">Här taggades #{{ counter.campaign.tag }} senast:</h2>
            <div style="position: absolute; top: 125px; left: auto;
    margin: auto;" id="map_div" class="div_toggle"></div>  
            <div id="flip"></div>
            <div id="tap"></div>
        </div>  
   
        <footer>
        </footer>        
    </div> 
<script>var tag = "{{ counter.campaign.tag }}";      
    </script>   
{% endblock %}

