{% extends 'InstacountInstacountBundle::layout.html.twig' %}
{% block body %}
<script>
    var url_chart = "{{ path('InstacountInstacountBundle_campaign_json', {'campaign_id':counter.campaign.id } )}}";
    var url_map = "{{ path('InstacountInstacountBundle_campaign_json_map', {'campaign_id':counter.campaign.id } )}}";
</script>
    <div data-role="page" data-add-back-btn="true">            
        <header class="show" data-position="fixed" data-role="header">
            <a href="#" data-transition="flip" data-rel="back" data-icon="">Välj</a>         
        </header>
        <div class="toggle portrait" class="content" data-role="content">    
            <h2 class="tag">#{{ counter.campaign.tag }} </h2>
            <div class="count"> 
                <p>{{ counter.count }}</p>
<script>var figures = "{{ counter.count|length }}";</script>
            </div>  
            <div id="flip"></div>
        </div>   
        <div class="toggle landscape">       
            <h2 class="tag">#{{ counter.campaign.tag }}</h2>
            <div id="chart_div"></div>  
            <div id="map_div"></div>  
        </div>  
        <footer>
        </footer>        
    </div> 
<script>var tag = "{{ counter.campaign.tag }}";      
    </script>   
{% endblock %}

