{% extends 'InstacountInstacountBundle::layout.html.twig' %}
{% block body %}
    <div data-role="page" data-add-back-btn="true">
        <header data-position="fixed" data-role="header">
            <h1>Instacount</h1>
            <a href="{{ path('InstacountInstacountBundle_admin')}}" class="ui-btn-right" data-role="button" data-icon="arrow-r" data-iconpos="right" data-transition="flip">Admin</a>
        </header>
    <div class="content" data-theme="b" data-role="content">			
		<h2 class="tag">#{{ counter.campaign.tag }} </h2>
		<div class="instagram">	
			<p>Taggar på Instagram:</p>		
			<p><span class="count">{{ counter.count }}</span></p>
			{{ counter.id }}
		</div>	
		<a data-role="button" href=" {{path('InstacountInstacountBundle_campaign_chart', { 'campaign_id' : counter.campaign.id }) }}">
			Se diagram
		</a>						
	</div>				
{% endblock %}